# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/me.ui/dist
/me.ui/tmp
/me.ui/out-tsc

# dependencies
/me.ui/node_modules

# IDEs and editors
/me.ui/.idea
/me.ui/.project
/me.ui/.classpath
/me.ui/.c9/
/me.ui/*.launch
/me.ui/.settings/
/me.ui/*.sublime-workspace

# IDE - VSCode
/me.ui/.vscode/*
!/me.ui/.vscode/settings.json
!/me.ui/.vscode/tasks.json
!/me.ui/.vscode/launch.json
!/me.ui/.vscode/extensions.json

# misc
/me.ui/.sass-cache
/me.ui/connect.lock
/me.ui/coverage
/me.ui/libpeerconnection.log
/me.ui/npm-debug.log
/me.ui/yarn-error.log
/me.ui/testem.log
/me.ui/typings

# System Files
.DS_Store
Thumbs.db

/me.ui/.angular
